@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 73, 8, 27;
  --background-start-rgb: 250, 162, 174;
  --background-end-rgb: 352, 88, 90;
}

/*the system detects if i use darkmode*/
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 73, 8, 27;
    --background-start-rgb: 250, 162, 174;
    --background-end-rgb: 352, 88, 90;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background:  rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
